<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--<add key="ServiceUrl" value="http://localhost:32007/myhub" />-->
  <!--<add key="client" value="RemoteNotes.Service.Client, RemoteNotes.Service.Client.FrontServiceClient"/>-->


  <add key="ServiceUrl" value="http://localhost:61234" />

</appSettings >
